{% extends 'diploma/base_auth.html' %}
{% load static %}

{% block title %}Інструкції надіслано{% endblock %}

{% block content %}
<div class="login-container">
    <div class="auth-form">
        <div class="form-header">
            <i class="fas fa-check-circle fa-3x" style="color: var(--success-color); margin-bottom: 20px;"></i>
            <h2>Інструкції надіслано</h2>
            <p class="text-muted">
                Ми надіслали вам листа з інструкціями для встановлення нового пароля, якщо вказана пошта існує в нашій базі. Будь ласка, перевірте вашу скриньку.
            </p>
        </div>
        
        <div class="form-footer" style="margin-top: 30px;">
            <a href="{% url 'login' %}" class="btn btn-primary">Повернутись до входу</a>
        </div>
    </div>
</div>
{% endblock %}