# Django
*.pyc
*/__pycache__/
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.env
settings_local.py

# settings project
settings.py

# Database
*.sqlite3
*.db
db.sqlite3

# Backup files
backup.sh
portfolio_backup.json

# Media files
media/

# Archives files
archives/

# Cache files
django_cache/
logs/

# Static files (collected)
staticfiles/
static_root/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Logs changes
*.dff

# OS
.DS_Store
Thumbs.db
