{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ви отримали цей лист, тому що запросили скидання пароля для вашого облікового запису на {{ site_name }}.{% endblocktranslate %}

{% translate "Будь ласка, перейдіть за посиланням та оберіть новий пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Ваше ім'я користувача, якщо ви забули:" %} {{ user.get_username }}

{% translate "Дякуємо що користуєтесь нашим сайтом!" %}

{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}

{% endautoescape %}